.lamp {
    background: url(https://yourdomain/themes/images/lamp.png) transparent no-repeat center center !important;
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,1)) !important;
    filter: drop-shadow(0px 0px 15px rgba(0,0,0,1)) !important;
    -webkit-box-shadow: 0px 0px 10px 1px transparent !important;
    -moz-box-shadow: 0px 0px 10px 1px transparent !important;
    -o-box-shadow: 0px 0px 10px 1px transparent !important;
    box-shadow: 0px 0px 10px 1px transparent !important;
    border-radius:30px;
    }


    .lamp {
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,1)) !important;
    filter: drop-shadow(0px 0px 15px rgba(0,0,0,1)) !important;
    }

    .lampdark {
    display: none !important;}


